body{
    background: darkgreen;
    text-align: center;
}


h1{
    color: #adfdad;
    font-size: 65px;
    font-family: Georgia, serif;
}
#side1{
    float: left;
}
#side2{
    float: right;
}
#bet_label{
    color: #adfdad;
    font-size: 20px;
    font-family: "Arial Black";
}
#money_label{
    color: #adfdad;
    font-size: 35px;
    font-family: "Arial Black";
}
#money{
    color: #adfdad;
    font-size: 35px;
    font-family: "Arial Black";
}
button{
    background-color: #000;
    color: #fff;
    height: 45px;
    width: 300px;
    border-radius: 150px;
    font-size: 20px;
    font-weight: bold;
}
