body{
    background-image: url('opposition-concept-represented-by-lightning-bolt-with-red-blue-colors-denoting-confrontation-struggle_117038-21037.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}